@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 3.5rem;        
    --body-bg-color: white;
    --header-bg-color: white;
    --header-txt-color: black;    
    --cv_container-bg-color: white;    
    --cv_container-boxShadow-color: rgba(0, 0, 0, 0.351);    
    --cv_container-txt_titDesc-color: black;
    --nav-height: 45px;    
    --hr-color: rgb(245, 245, 245);
    --btn_tema-bg-color: white;
    --btn_tema-boxShadow-color: rgba(0, 0, 0, 0.351);
    --btn_tema-bgImg: url(rss/sol.png);
}

body {
    background-color: var(--body-bg-color);
    height: 100vh;
    width: 100vw;        
    overflow: hidden;    
    transition: .25s;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: var(--header-height);        
    width: 100%;
    padding: 7px;    
    background-color: var(--header-bg-color);
    transition: .25s;    
}

header > h1 {
    font-size: 2rem;    
    text-align: center;
    user-select: none;    
    color: var(--header-txt-color);
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

header > img {
    width: 20vw;
    max-width: 150px;        
}


section {    
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.cv-container {
    display: flex;
    flex-direction: column;
    height: 62%;            
    width: 600px;    
    margin: 0 10%;        
    background-color: var(--cv_container-bg-color);
    box-shadow: 0 0 10px 0 var(--cv_container-boxShadow-color);
    color: var(--cv_container-txt_titDesc-color);
    border:2px solid var(--cv_container-bg-color);
    border-radius: 12px;    
    transition: .25s;
}

/*------- INICIO DEL MAIN --------*/
main {    
    padding: 15px;    
    flex: 1;
}

#tituloInfo {
    text-align: center;
    font-size: 1.95rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

.fila {
    margin-top: 2%;
    margin-bottom: 2%;
}

.fila:last-child {
    margin-bottom: 0;
}

.subtitulo {
    font-family: "Kanit", sans-serif;
    font-weight: 500;   
}

.fila > p {
    font-family: 'Kanit', sans-serif;    
    font-weight: 400;        
    color: grey;   
}
/*------- FIN DEL MAIN --------*/

/*------- INICIO DEL NAV -------*/
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px; 
    border-radius: 7px;
}


hr {
    margin: 0 5px;
    border-color: var(--hr-color);
}


ul {
    display: flex;
    gap: 5vw;
    list-style-type: none;            
}

.nav-li-info {
    font-family: 'DM Sans', sans-serif;
    padding: 6px;
    border-radius: 50px;    
    user-select: none;
    background-color: var(--cv_container-bg-color);
    transition: .15s;
}

#li-infoBasica:hover, #li-academico:hover, #li-cualidades:hover {
    cursor: pointer;
    color: white;
    font-weight: 500;
}
/*------- FIN DEL NAV -------*/

/*------- INICIO DE (BOTON PARA CAMBIAR DE TEMA) ------*/
#btn_cambiarTema {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    border: 2px solid white;   
    background-color: var(--btn_tema-bg-color); 
    background-image: url("rss/sol.png");
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 0 var(--btn_tema-boxShadow-color);
    transition: .25s;
}

#btn_cambiarTema:active { transform: scale(1.1); }

#btn_cambiarTema:hover { cursor: pointer; }
/*------- FIN DE (BOTON PARA CAMBIAR DE TEMA) ------*/

@media screen and (max-width: 740px) {
    .cv-container {
        width: fit-content;
        padding: 5px;        
    }
}

@media screen and (max-width: 555px) {
    header {
        position: absolute;
        flex-direction: column;
        top: 15px;        
    }

    header > img {
        min-width: 150px;
    }
}

@media screen and (max-width: 510px) {
    header {
        position: relative;
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    header {
        margin-top: 30px;
    }

    .nav-li-info {
        text-align: center;
        font-size: 0.80rem;
    }
}

@media screen and (max-height: 715px), (max-width: 810px) {
    .cv-container > main > .fila > h2 {
        font-size: calc(2vw + 0.2rem);
    }

    .cv-container > main > .fila > p {
        font-size: calc(1vw + 0.35rem);
    }

    #tituloInfo {
        font-size: calc(3vw + 0.25rem);
    }

    nav {
        height: 25px;
    }

    ul {
        font-size: 10px;
    }
}